In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=a91e384aa21a2e5a13c973706377cf4e&include_video=false&language=en-US&page=1&sort_by=popularity.desc')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['adult', 'id', 'original_language', 'overview', 'popularity', 'release_date', 'title', 'vote_average', 'vote_count']]

In [4]:
temp_df

,adult,id,original_language,overview,popularity,release_date,title,vote_average,vote_count
0,False,823464,en,"Following their explosive showdown, Godzilla a...",1818.259,2024-03-27,Godzilla x Kong: The New Empire,6.513,915
1,False,1094844,en,Recognizing the destructive power of its capti...,1639.584,2023-03-24,Ape vs. Mecha Ape,5.872,78
2,False,693134,en,Follow the mythic journey of Paul Atreides as ...,1390.639,2024-02-27,Dune: Part Two,8.235,3599
3,False,1096197,en,Characters from different backgrounds are thro...,1245.817,2024-01-18,No Way Up,6.329,559
4,False,1011985,en,Po is gearing up to become the spiritual leade...,1230.013,2024-03-02,Kung Fu Panda 4,7.100,1476
5,False,934632,en,The rebels gear up for battle against the ruth...,1187.439,2024-04-19,Rebel Moon - Part Two: The Scargiver,6.117,635
6,False,1041613,en,An American nun embarks on a new journey when ...,892.570,2024-03-20,Immaculate,6.300,367
7,False,821937,vi,"A container truck driver, HÃ¹ng, lives an idyll...",843.881,2022-05-20,578: Magnum,5.050,20
8,False,845111,fr,"D'Artagnan, on a quest to rescue the abducted ...",796.029,2023-12-13,The Three Musketeers: Milady,6.500,372
9,False,748783,en,"Garfield, the world-famous, Monday-hating, las...",757.742,2024-04-30,The Garfield Movie,7.265,17
10,False,940721,ja,Postwar Japan is at its lowest point when a ne...,726.877,2023-11-03,Godzilla Minus One,7.931,648
11,False,653346,en,Several generations in the future following Ca...,686.196,2024-05-08,Kingdom of the Planet of the Apes,6.636,11
12,False,1063879,fr,Residents of a rundown French apartment buildi...,678.790,2023-12-27,Infested,7.129,151
13,False,976906,en,August 1944. With the American Eighth Air Forc...,667.795,2022-05-13,Spitfire Over Berlin,4.133,15
14,False,618588,en,"Over the course of ten days and 435 miles, an ...",651.969,2024-03-15,Arthur the King,6.886,92
15,False,634492,en,"Forced to confront revelations about her past,...",636.241,2024-02-14,Madame Web,5.609,1201
16,False,359410,en,Ex-UFC fighter Dalton takes a job as a bouncer...,625.791,2024-03-08,Road House,7.016,1650
17,False,872585,en,The story of J. Robert Oppenheimer's role in t...,616.637,2023-07-19,Oppenheimer,8.111,7869
18,False,940551,en,After a migrating duck family alights on their...,607.748,2023-12-06,Migration,7.500,1273
19,False,784651,hi,Top IAF aviators come together in the face of ...,605.327,2024-01-24,Fighter,5.302,58

In [5]:
temp_df.set_index('id', inplace=True)

In [6]:
temp_df

,adult,original_language,overview,popularity,release_date,title,vote_average,vote_count
id,,,,,,,,
823464,False,en,"Following their explosive showdown, Godzilla a...",1818.259,2024-03-27,Godzilla x Kong: The New Empire,6.513,915
1094844,False,en,Recognizing the destructive power of its capti...,1639.584,2023-03-24,Ape vs. Mecha Ape,5.872,78
693134,False,en,Follow the mythic journey of Paul Atreides as ...,1390.639,2024-02-27,Dune: Part Two,8.235,3599
1096197,False,en,Characters from different backgrounds are thro...,1245.817,2024-01-18,No Way Up,6.329,559
1011985,False,en,Po is gearing up to become the spiritual leade...,1230.013,2024-03-02,Kung Fu Panda 4,7.100,1476
934632,False,en,The rebels gear up for battle against the ruth...,1187.439,2024-04-19,Rebel Moon - Part Two: The Scargiver,6.117,635
1041613,False,en,An American nun embarks on a new journey when ...,892.570,2024-03-20,Immaculate,6.300,367
821937,False,vi,"A container truck driver, HÃ¹ng, lives an idyll...",843.881,2022-05-20,578: Magnum,5.050,20
845111,False,fr,"D'Artagnan, on a quest to rescue the abducted ...",796.029,2023-12-13,The Three Musketeers: Milady,6.500,372
748783,False,en,"Garfield, the world-famous, Monday-hating, las...",757.742,2024-04-30,The Garfield Movie,7.265,17
940721,False,ja,Postwar Japan is at its lowest point when a ne...,726.877,2023-11-03,Godzilla Minus One,7.931,648
653346,False,en,Several generations in the future following Ca...,686.196,2024-05-08,Kingdom of the Planet of the Apes,6.636,11
1063879,False,fr,Residents of a rundown French apartment buildi...,678.790,2023-12-27,Infested,7.129,151
976906,False,en,August 1944. With the American Eighth Air Forc...,667.795,2022-05-13,Spitfire Over Berlin,4.133,15
618588,False,en,"Over the course of ten days and 435 miles, an ...",651.969,2024-03-15,Arthur the King,6.886,92
634492,False,en,"Forced to confront revelations about her past,...",636.241,2024-02-14,Madame Web,5.609,1201
359410,False,en,Ex-UFC fighter Dalton takes a job as a bouncer...,625.791,2024-03-08,Road House,7.016,1650
872585,False,en,The story of J. Robert Oppenheimer's role in t...,616.637,2023-07-19,Oppenheimer,8.111,7869
940551,False,en,After a migrating duck family alights on their...,607.748,2023-12-06,Migration,7.500,1273
784651,False,hi,Top IAF aviators come together in the face of ...,605.327,2024-01-24,Fighter,5.302,58

In [8]:
df = pd.DataFrame()
for i in range(1,501):
    response = requests.get(f'https://api.themoviedb.org/3/discover/movie?api_key=a91e384aa21a2e5a13c973706377cf4e&include_video=false&language=en-US&page={i}&sort_by=popularity.desc')
    temp_df = pd.DataFrame(response.json()['results'])
    df = df._append(temp_df,ignore_index=True)

In [9]:
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/qrGtVFxaD8c7et0jUtaYhyTzzPg.jpg,"[28, 878, 12]",823464,en,Godzilla x Kong: The New Empire,"Following their explosive showdown, Godzilla a...",1818.259,/tMefBSflR6PGQLv7WvFPpKLZkyk.jpg,2024-03-27,Godzilla x Kong: The New Empire,False,6.513,915
1,False,/jnE1GA7cGEfv5DJBoU2t4bZHaP4.jpg,"[28, 878]",1094844,en,Ape vs. Mecha Ape,Recognizing the destructive power of its capti...,1639.584,/dJaIw8OgACelojyV6YuVsOhtTLO.jpg,2023-03-24,Ape vs. Mecha Ape,False,5.872,78
2,False,/xOMo8BRK7PfcJv9JCnx7s5hj0PX.jpg,"[878, 12]",693134,en,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...,1390.639,/1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg,2024-02-27,Dune: Part Two,False,8.235,3599
3,False,/4woSOUD0equAYzvwhWBHIJDCM88.jpg,"[28, 27, 53]",1096197,en,No Way Up,Characters from different backgrounds are thro...,1245.817,/hu40Uxp9WtpL34jv3zyWLb5zEVY.jpg,2024-01-18,No Way Up,False,6.329,559
4,False,/kYgQzzjNis5jJalYtIHgrom0gOx.jpg,"[16, 28, 10751, 35, 14]",1011985,en,Kung Fu Panda 4,Po is gearing up to become the spiritual leade...,1230.013,/kDp1vUBnMpe8ak4rjgl3cLELqjU.jpg,2024-03-02,Kung Fu Panda 4,False,7.100,1476

In [10]:
df.shape

(10000, 14)

In [11]:
df.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [12]:
df.drop(['backdrop_path', 'genre_ids', 'poster_path', 'video'], axis = 1, inplace = True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              10000 non-null  bool
 1   id                 10000 non-null  int64
 2   original_language  10000 non-null  object
 3   original_title     10000 non-null  object
 4   overview           10000 non-null  object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   title              10000 non-null  object
 8   vote_average       10000 non-null  float64
 9   vote_count         10000 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 713.0+ KB

In [14]:
df.head()

,adult,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,False,823464,en,Godzilla x Kong: The New Empire,"Following their explosive showdown, Godzilla a...",1818.259,2024-03-27,Godzilla x Kong: The New Empire,6.513,915
1,False,1094844,en,Ape vs. Mecha Ape,Recognizing the destructive power of its capti...,1639.584,2023-03-24,Ape vs. Mecha Ape,5.872,78
2,False,693134,en,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...,1390.639,2024-02-27,Dune: Part Two,8.235,3599
3,False,1096197,en,No Way Up,Characters from different backgrounds are thro...,1245.817,2024-01-18,No Way Up,6.329,559
4,False,1011985,en,Kung Fu Panda 4,Po is gearing up to become the spiritual leade...,1230.013,2024-03-02,Kung Fu Panda 4,7.100,1476

In [16]:
file_path = 'movie-dataset.csv'

df.to_csv(file_path, index=False)

print(f"CSV file saved successfully to '{file_path}'")

CSV file saved successfully to 'movie-dataset.csv'